@import '~antd/dist/antd.css';
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.ant-btn-primary{
  margin-right: 30px;
}
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.ant-layout-has-sider{
  width: 100%;
}
.repertory-table{
  width: 100%;
}
.ant-input{
  width: 242px;
}
span{
  margin-right:50px;
}