@import '~antd/dist/antd.css';
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.business-content{
    padding: 24; 
    background: '#fff';
    min-height: '50vh';
}
.ant-btn-primary{
  margin-right: 30px;
}
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.ant-layout-has-sider{
  width: 100%;
}
.customer-table{
  margin-top: 12px;
  width: 100%;
}
.customer-save{
  float: right;
}
.customer-exit{
  float: right;
}
.ant-input{
  width: 150px;
}
.customer-save{
  background-color: #1890ff;
  border-color: #1890ff;
  color: #ccc;
}
.query-customer-tell{
  float: right
}
.fix-customer{
  margin-top: 40px;
}
.query-result-customer{
  margin-top: 40px;
}