@import '~antd/dist/antd.css';
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.ant-layout-has-sider{
  width: 100%;
}
.business-content{
  padding: 24; 
  background: '#fff';
  min-height: '50vh';
}
.ant-input{
  width: 100px;
  height: 30px;
  margin-right: 35px;
}
h3{
  margin-top: 15px;
  display: inline-block;
}
.user{
  margin-top: 15px;
  float: right;
  margin-right: 20px;
}
.goods-table{
  border-top: 1px #ccc solid;
  margin-top: 50px;
  width: 100%;
}
.add-search{
  margin-top: 15px;
  float: right;
}
#business-one{
  width: 1000px;
  height: 500px;
}
#business-two{
  width: 1000px;
  height: 500px;
}
.business-table{
  width: 100%;
}
.ant-input{
  width: 130px;
}
.remain{
  display: inline-block;
  width: 210px;
}
.default-reper{
  width: 180px;
}
.remain-input{
  margin-right: 0px;
}
.business-total{
  float: right;
}